body {
    display: grid;
    /* grid-template-rows: .1fr .9fr;
    grid-template-areas: "submission" "list"; */
    background-color: #d3d3d3;
    justify-content: center;
}

#submission-area{
    display: flex;
    justify-content: center;
    grid-area: submission;
}

#list-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: list;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    outline-style: solid;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: red; */
}